USE [master]
GO
/****** Object:  Database [CS6232-g3]    Script Date: 4/8/2017 2:00:17 PM ******/
CREATE DATABASE [CS6232-g3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CS6232-g3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CS6232-g3.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CS6232-g3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CS6232-g3_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CS6232-g3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CS6232-g3]
GO
/****** Object:  Table [dbo].[administrators]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[administrators](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[peopleID] [int] NOT NULL,
	[userName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_administrators_adminID] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[appointment](
	[date] [datetime] NOT NULL,
	[doctorID] [int] NOT NULL,
	[patientID] [int] NOT NULL,
	[reasonForVisit] [varchar](150) NOT NULL,
 CONSTRAINT [PK_appointment_date] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[doctorID] ASC,
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[appointment_has_tests]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[appointment_has_tests](
	[appointment_date] [datetime] NOT NULL,
	[appointment_doctorID] [int] NOT NULL,
	[appointment_patientID] [int] NOT NULL,
	[tests_testCode] [varchar](10) NOT NULL,
	[testDate] [date] NULL,
	[results] [varchar](45) NULL,
 CONSTRAINT [PK_appointment_has_tests_appointment_date] PRIMARY KEY CLUSTERED 
(
	[appointment_date] ASC,
	[appointment_doctorID] ASC,
	[appointment_patientID] ASC,
	[tests_testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[clinicemployees]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[clinicemployees](
	[userName] [varchar](20) NOT NULL,
	[passwords] [varchar](45) NOT NULL,
 CONSTRAINT [PK_clinicemployees_userName] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[doctors](
	[doctorID] [int] IDENTITY(1,1) NOT NULL,
	[peopleID] [int] NOT NULL,
	[userName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_doctors_doctorID] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[doctors_has_speciality]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[doctors_has_speciality](
	[doctorID] [int] NOT NULL,
	[specialityID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_doctors_has_speciality_doctorID] PRIMARY KEY CLUSTERED 
(
	[doctorID] ASC,
	[specialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nurses]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nurses](
	[nurseID] [int] IDENTITY(1,1) NOT NULL,
	[peopleID] [int] NOT NULL,
	[userName] [varchar](20) NOT NULL,
 CONSTRAINT [PK_nurses_nurseID] PRIMARY KEY CLUSTERED 
(
	[nurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[patients]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[patientID] [int] IDENTITY(1,1) NOT NULL,
	[peopleID] [int] NOT NULL,
 CONSTRAINT [PK_patients_patientID] PRIMARY KEY CLUSTERED 
(
	[patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[people]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[people](
	[peopleID] [int] IDENTITY(1,1) NOT NULL,
	[lastName] [varchar](45) NOT NULL,
	[firstName] [varchar](45) NOT NULL,
	[dateOfBirth] [date] NOT NULL,
	[streetAddress] [varchar](75) NOT NULL,
	[city] [varchar](65) NOT NULL,
	[state] [varchar](2) NOT NULL,
	[zip] [varchar](5) NOT NULL,
	[phoneNumber] [varchar](12) NOT NULL,
	[ssn] [varchar](9) NOT NULL,
	[gender] [varchar](20) NOT NULL,
 CONSTRAINT [PK_people_peopleID] PRIMARY KEY CLUSTERED 
(
	[peopleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[speciality]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[speciality](
	[specialityID] [varchar](10) NOT NULL,
	[specialityName] [varchar](45) NOT NULL,
 CONSTRAINT [PK_speciality_specialityID] PRIMARY KEY CLUSTERED 
(
	[specialityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tests]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tests](
	[testCode] [varchar](10) NOT NULL,
	[testName] [varchar](45) NOT NULL,
 CONSTRAINT [PK_tests_testCode] PRIMARY KEY CLUSTERED 
(
	[testCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vitals]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vitals](
	[appointment_date] [datetime] NOT NULL,
	[appointment_doctorID] [int] NOT NULL,
	[appointment_patientID] [int] NOT NULL,
	[nurses_nurseID] [int] NOT NULL,
	[systolic] [varchar](45) NOT NULL,
	[diastolic] [varchar](45) NOT NULL,
	[temperature] [varchar](45) NOT NULL,
	[pulse] [varchar](45) NOT NULL,
	[symptoms] [varchar](45) NOT NULL,
	[diagnosis] [varchar](45) NOT NULL,
 CONSTRAINT [PK_vitals_date_doctor_patient] PRIMARY KEY CLUSTERED 
(
	[appointment_date] ASC,
	[appointment_doctorID] ASC,
	[appointment_patientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[administrators] ON 

INSERT [dbo].[administrators] ([adminID], [peopleID], [userName]) VALUES (1, 47, N'mwilaven9')
INSERT [dbo].[administrators] ([adminID], [peopleID], [userName]) VALUES (2, 14, N'revans9')
INSERT [dbo].[administrators] ([adminID], [peopleID], [userName]) VALUES (4, 22, N'dharris9')
SET IDENTITY_INSERT [dbo].[administrators] OFF
INSERT [dbo].[appointment] ([date], [doctorID], [patientID], [reasonForVisit]) VALUES (CAST(N'2010-10-10 13:00:00.000' AS DateTime), 2, 1, N'Heart attack')
INSERT [dbo].[appointment] ([date], [doctorID], [patientID], [reasonForVisit]) VALUES (CAST(N'2010-12-10 13:00:00.000' AS DateTime), 5, 32, N'Heart attack')
INSERT [dbo].[appointment] ([date], [doctorID], [patientID], [reasonForVisit]) VALUES (CAST(N'2011-09-10 13:00:00.000' AS DateTime), 4, 11, N'Heart attack')
INSERT [dbo].[appointment_has_tests] ([appointment_date], [appointment_doctorID], [appointment_patientID], [tests_testCode], [testDate], [results]) VALUES (CAST(N'2010-10-10 13:00:00.000' AS DateTime), 2, 1, N'DHEA', CAST(N'2016-10-02' AS Date), N'normal')
INSERT [dbo].[appointment_has_tests] ([appointment_date], [appointment_doctorID], [appointment_patientID], [tests_testCode], [testDate], [results]) VALUES (CAST(N'2010-10-10 13:00:00.000' AS DateTime), 2, 1, N'FLU', CAST(N'2016-10-10' AS Date), N'normal')
INSERT [dbo].[appointment_has_tests] ([appointment_date], [appointment_doctorID], [appointment_patientID], [tests_testCode], [testDate], [results]) VALUES (CAST(N'2010-10-10 13:00:00.000' AS DateTime), 2, 1, N'HEPA-B', CAST(N'2016-09-15' AS Date), N'normal')
GO
INSERT [dbo].[clinicemployees] ([userName], [passwords]) VALUES (N'aaverett9', N'512521991012471557618716612921044901777284')
INSERT [dbo].[clinicemployees] ([userName], [passwords]) VALUES (N'ajennings', N'512521991012471557618716612921044901777284')
INSERT [dbo].[clinicemployees] ([userName], [passwords]) VALUES (N'dgore9', N'512521991012471557618716612921044901777284')
SET IDENTITY_INSERT [dbo].[doctors] ON 

INSERT [dbo].[doctors] ([doctorID], [peopleID], [userName]) VALUES (1, 19, N'thall9')
INSERT [dbo].[doctors] ([doctorID], [peopleID], [userName]) VALUES (2, 26, N'jjacobs9')
INSERT [dbo].[doctors] ([doctorID], [peopleID], [userName]) VALUES (3, 23, N'mhumphery9')
SET IDENTITY_INSERT [dbo].[doctors] OFF
SET IDENTITY_INSERT [dbo].[nurses] ON 

INSERT [dbo].[nurses] ([nurseID], [peopleID], [userName]) VALUES (1, 25, N'ejackaven9')
INSERT [dbo].[nurses] ([nurseID], [peopleID], [userName]) VALUES (2, 6, N'scarter9')
INSERT [dbo].[nurses] ([nurseID], [peopleID], [userName]) VALUES (3, 7, N'rclark9')
SET IDENTITY_INSERT [dbo].[nurses] OFF
SET IDENTITY_INSERT [dbo].[patients] ON 

INSERT [dbo].[patients] ([patientID], [peopleID]) VALUES (1, 25)
INSERT [dbo].[patients] ([patientID], [peopleID]) VALUES (2, 6)
INSERT [dbo].[patients] ([patientID], [peopleID]) VALUES (3, 7)
SET IDENTITY_INSERT [dbo].[patients] OFF
SET IDENTITY_INSERT [dbo].[people] ON 

INSERT [dbo].[people] ([peopleID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [state], [zip], [phoneNumber], [ssn], [gender]) VALUES (1, N'AnderAven', N'Keaton', CAST(N'1953-06-12' AS Date), N'215 Court', N'Auburn', N'Al', N'30332', N'999-999-9990', N'383576253', N'Male')
INSERT [dbo].[people] ([peopleID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [state], [zip], [phoneNumber], [ssn], [gender]) VALUES (2, N'AnderAven', N'Ryan', CAST(N'1962-08-02' AS Date), N'253 Road', N'Daphne', N'AL', N'30332', N'999-999-9990', N'068788330', N'Male')
INSERT [dbo].[people] ([peopleID], [lastName], [firstName], [dateOfBirth], [streetAddress], [city], [state], [zip], [phoneNumber], [ssn], [gender]) VALUES (3, N'Averett', N'Anthony', CAST(N'1976-10-28' AS Date), N'183 Court', N'Woodbury', N'NU', N'30332', N'999-999-9990', N'993439579', N'Female')
SET IDENTITY_INSERT [dbo].[people] OFF
INSERT [dbo].[tests] ([testCode], [testName]) VALUES (N'DHEA', N'Dehydroepiandrosterone')
INSERT [dbo].[tests] ([testCode], [testName]) VALUES (N'FLU', N'Flu Test')
INSERT [dbo].[tests] ([testCode], [testName]) VALUES (N'HDL', N'High Density Lipoproteins')
INSERT [dbo].[vitals] ([appointment_date], [appointment_doctorID], [appointment_patientID], [nurses_nurseID], [systolic], [diastolic], [temperature], [pulse], [symptoms], [diagnosis]) VALUES (CAST(N'2010-10-10 13:00:00.000' AS DateTime), 2, 1, 2, N'120', N'80', N'99', N'88', N'beating chest', N'heart attack')
INSERT [dbo].[vitals] ([appointment_date], [appointment_doctorID], [appointment_patientID], [nurses_nurseID], [systolic], [diastolic], [temperature], [pulse], [symptoms], [diagnosis]) VALUES (CAST(N'2010-12-10 13:00:00.000' AS DateTime), 5, 32, 3, N'130', N'90', N'97', N'80', N'painful rash', N'funk')
INSERT [dbo].[vitals] ([appointment_date], [appointment_doctorID], [appointment_patientID], [nurses_nurseID], [systolic], [diastolic], [temperature], [pulse], [symptoms], [diagnosis]) VALUES (CAST(N'2011-09-10 13:00:00.000' AS DateTime), 4, 11, 4, N'140', N'110', N'98', N'100', N'fever and chills', N'flu')
ALTER TABLE [dbo].[administrators]  WITH CHECK ADD  CONSTRAINT [fk_administrators_clinicEmployees] FOREIGN KEY([userName])
REFERENCES [dbo].[clinicemployees] ([userName])
GO
ALTER TABLE [dbo].[administrators] CHECK CONSTRAINT [fk_administrators_clinicEmployees]
GO
ALTER TABLE [dbo].[administrators]  WITH CHECK ADD  CONSTRAINT [fk_administrators_people] FOREIGN KEY([peopleID])
REFERENCES [dbo].[people] ([peopleID])
GO
ALTER TABLE [dbo].[administrators] CHECK CONSTRAINT [fk_administrators_people]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [fk_appointment_doctors] FOREIGN KEY([doctorID])
REFERENCES [dbo].[doctors] ([doctorID])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [fk_appointment_doctors]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD  CONSTRAINT [fk_appointment_patients] FOREIGN KEY([patientID])
REFERENCES [dbo].[patients] ([patientID])
GO
ALTER TABLE [dbo].[appointment] CHECK CONSTRAINT [fk_appointment_patients]
GO
ALTER TABLE [dbo].[appointment_has_tests]  WITH CHECK ADD  CONSTRAINT [fk_appointment_has_tests_appointment] FOREIGN KEY([appointment_date], [appointment_doctorID], [appointment_patientID])
REFERENCES [dbo].[appointment] ([date], [doctorID], [patientID])
GO
ALTER TABLE [dbo].[appointment_has_tests] CHECK CONSTRAINT [fk_appointment_has_tests_appointment]
GO
ALTER TABLE [dbo].[appointment_has_tests]  WITH CHECK ADD  CONSTRAINT [fk_appointment_has_tests_tests] FOREIGN KEY([tests_testCode])
REFERENCES [dbo].[tests] ([testCode])
GO
ALTER TABLE [dbo].[appointment_has_tests] CHECK CONSTRAINT [fk_appointment_has_tests_tests]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [fk_doctors_clinicEmployees] FOREIGN KEY([userName])
REFERENCES [dbo].[clinicemployees] ([userName])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [fk_doctors_clinicEmployees]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [fk_doctors_people] FOREIGN KEY([peopleID])
REFERENCES [dbo].[people] ([peopleID])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [fk_doctors_people]
GO
ALTER TABLE [dbo].[doctors_has_speciality]  WITH CHECK ADD  CONSTRAINT [fk_doctors_has_speciality_doctors] FOREIGN KEY([doctorID])
REFERENCES [dbo].[doctors] ([doctorID])
GO
ALTER TABLE [dbo].[doctors_has_speciality] CHECK CONSTRAINT [fk_doctors_has_speciality_doctors]
GO
ALTER TABLE [dbo].[doctors_has_speciality]  WITH CHECK ADD  CONSTRAINT [fk_doctors_has_speciality_speciality] FOREIGN KEY([specialityID])
REFERENCES [dbo].[speciality] ([specialityID])
GO
ALTER TABLE [dbo].[doctors_has_speciality] CHECK CONSTRAINT [fk_doctors_has_speciality_speciality]
GO
ALTER TABLE [dbo].[nurses]  WITH CHECK ADD  CONSTRAINT [fk_nurses_clinicEmployees] FOREIGN KEY([userName])
REFERENCES [dbo].[clinicemployees] ([userName])
GO
ALTER TABLE [dbo].[nurses] CHECK CONSTRAINT [fk_nurses_clinicEmployees]
GO
ALTER TABLE [dbo].[nurses]  WITH CHECK ADD  CONSTRAINT [fk_nurses_people] FOREIGN KEY([peopleID])
REFERENCES [dbo].[people] ([peopleID])
GO
ALTER TABLE [dbo].[nurses] CHECK CONSTRAINT [fk_nurses_people]
GO
ALTER TABLE [dbo].[patients]  WITH CHECK ADD  CONSTRAINT [fk_patients_people] FOREIGN KEY([peopleID])
REFERENCES [dbo].[people] ([peopleID])
GO
ALTER TABLE [dbo].[patients] CHECK CONSTRAINT [fk_patients_people]
GO
ALTER TABLE [dbo].[vitals]  WITH CHECK ADD  CONSTRAINT [fk_vitals_appointment] FOREIGN KEY([appointment_date], [appointment_doctorID], [appointment_patientID])
REFERENCES [dbo].[appointment] ([date], [doctorID], [patientID])
GO
ALTER TABLE [dbo].[vitals] CHECK CONSTRAINT [fk_vitals_appointment]
GO
ALTER TABLE [dbo].[vitals]  WITH CHECK ADD  CONSTRAINT [fk_vitals_nurses] FOREIGN KEY([nurses_nurseID])
REFERENCES [dbo].[nurses] ([nurseID])
GO
ALTER TABLE [dbo].[vitals] CHECK CONSTRAINT [fk_vitals_nurses]
GO
/****** Object:  StoredProcedure [dbo].[usp_mostPerformedTestsDuringDates]    Script Date: 4/8/2017 2:00:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_mostPerformedTestsDuringDates] 
	@startDate date,
	@endDate date
AS
	/* Used so a row count is not returned */
	SET NOCOUNT ON;

	IF @startDate > @endDate
		THROW 50001, 'Start date is cannot be greater than end date', 1;
	IF @startDate > GETDATE() OR @endDate > GETDATE()
		THROW 50001, 'Date entered is greater than current date', 1;
	IF @endDate IS NULL
		THROW 50001, 'The end date cannot be null', 1;
	IF @startDate IS NULL
		THROW 50001, 'The start date cannot be null', 1;
	IF @startDate = ''
		THROW 50001, 'The start date is empty', 1;
	IF @endDate = ''
		THROW 50001, 'The end date is empty', 1;
	 
    SELECT main1.tests_testCode AS 'Test Code', main1.testName AS 'Test Name',  
           main1.timesTestPerformed AS 'Times Test Performed', 
		   main2.total_performed AS 'Number of Times Test Performed',
		   ROUND(100 * main1.timesTestPerformed / main2.total_performed, 2) AS 'Percentage of Test Performed',
		   main1.normal AS 'Normal Results',
		   main1.abnormal AS 'Abnormal Results',
		   ROUND(100 * main1.agegroup18 / main1.timesTestPerformed, 2) AS 'Percentage 18-29',
		   ROUND(100 * main1.agegroup30 / main1.timesTestPerformed, 2) AS 'Percentage 30-39',
		   ROUND(100 * main1.agegroup40 / main1.timesTestPerformed, 2) AS 'Percentage 40-49',
		   ROUND(100 * main1.agegroup50 / main1.timesTestPerformed, 2) AS 'Percentage 50-59',
		   ROUND(100 * main1.agegroup60 / main1.timesTestPerformed, 2) AS 'Percentage 60-69',
		   ROUND(100 * main1.agegroup70 / main1.timesTestPerformed, 2) AS 'Percentage 70-79',
		   ROUND(100 * main1.agegroup80up / main1.timesTestPerformed, 2) AS 'Percentage 80+'
	FROM 
		(SELECT tests_testCode, 
				t2.testName, 
				COUNT(*) AS timesTestPerformed,
				sum(case when t1.results = 'Normal' then 1 else 0 end) AS normal,
				sum(case when t1.results = 'Abnormal' then 1 else 0 end) AS abnormal,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 18 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 29) then 1 else 0 end) AS agegroup18,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 30 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 39) then 1 else 0 end) AS agegroup30,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 40 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 49) then 1 else 0 end) AS agegroup40,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 50 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 59) then 1 else 0 end) AS agegroup50,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 60 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 69) then 1 else 0 end) AS agegroup60,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 70 AND DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) <= 79) then 1 else 0 end) AS agegroup70,
				SUM(case when (DATEDIFF(YEAR, t4.dateOfBirth, t1.testDate) >= 80) then 1 else 0 end) AS agegroup80up
		FROM
			appointment_has_tests t1
			JOIN tests t2 ON t2.testCode = t1.tests_testCode 
			JOIN patients t3 ON t3.patientID = t1.appointment_patientID
			JOIN people t4 ON t4.peopleID = t3.peopleID
		WHERE t1.testDate >= @startDate AND t1.testDate <= @endDate 
		GROUP BY t1.tests_testCode, t2.testName
		HAVING COUNT(*) > 1) main1,
		(SELECT COUNT(*) AS total_performed FROM appointment_has_tests WHERE 
		testDate >= @startDate AND testDate <= @endDate) main2
	ORDER BY main1.timesTestPerformed DESC, main1.tests_testCode DESC;

GO
USE [master]
GO
